.leaveCard {
    display: flex;
    justify-content: center;
}

.editbtn {
    display: flex;
    position: relative;
    float: right;
    align-self: center;
}

.errorMessage {
    color: red;
}
.leaveInfoGrid {
    padding: 25px;
}

.applyButton {
    margin: 2px auto 5px 0px;
    display: inline-block;
    position: relative;
}

.form{
    width: 50%;
    right: 700;
    margin-left: 300;
    border-radius: 5;
    align-self: center;
    align-items: center;
    border: 1px solid red;
    margin: 0vw;
    padding: 5vw ;
    /* position:relative;  */
}